$color-background-secondary: #f48fb1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  text-align: center;
}

.calculators {
  font-size: 1.1rem;
}

.calculation-form {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e6e6e6),
    to(#f9f9f9)
  );
  border-radius: 0.2rem;
  margin: 1rem 0 1rem 0;
  border: 0.01rem solid #e9e9e9;
  padding: 0.6rem;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs {
  margin: 0.1rem;
}

input {
  width: 100px;
  margin: 0.25rem;
  padding: 0.2rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: 0.01rem solid #e9e9e9;
}

button {
  background-color: $color-background-secondary;
  font-size: 1rem;
  border: none;
  margin: 0.25rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
  span {
    color: white;
  }
}

.results {
  margin: 0.25rem;
}

@media (max-width: 768px) {
  button {
    width: 100px;
  }
}
