$color-background-main: #dbdad9;
$color-background-secondary: #ee75e4;
$border-radius: 5rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.05rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.calculators {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 65%;
  height: 100%;
}

.calculation-form {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e6e6e6),
    to(#f9f9f9)
  );
  border-radius: 0.2rem;
  margin: 1rem;
  border: 0.01rem solid #e9e9e9;
  margin: 0.625rem 0;
  padding: 0.625rem 1.25rem;
}

form {
  display: flex;
}

.inputs {
  width: 65%;
  margin: 0.25rem;
}

input {
  width: 100px;
  margin: 0.25rem;
}

button {
  background-color: $color-background-secondary;
  margin: 0.25rem;
  border-radius: 0.2rem;
  span {
    color: white;
  }
}

.results {
  margin: 0.25rem;
}
